<div *ngIf="this.errors.length > 0">
  <ul>
    <li *ngFor="let error of this.errors" style="color: red;">{{error}}</li>
  </ul>
</div>
<br>
<div>
  <form>
    Gateway: <br>
    <select name="gateway" [(ngModel)]="gateway">
      <option>zwart</option>
      <option>philip</option>
    </select>
    <br>
    Meetdatum:<br>
    <input type="datetime-local" name="meetdatum" [(ngModel)]="meetdatum"  />
    <br>
    Meetbestand:<br>
    <input type="file" name="meetbestand" id="meetbestand" accept=".csv" (change)="handleFileInput($event.target.files)"/>
    <br>
    Start tijd in de CSV:<br>
    <input type="datetime-local" name="startDatumCsv" [(ngModel)]="startDatumCsv" />
    <br>
    <button (click)="readfile()">Upload</button>
  </form>
</div>



